<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="tenantId" value="4f7fec72-b600-42e4-a604-819a91c2d0c7" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="appId" value="4ce9a372-7c89-498d-b794-ee49c3a9750b" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="redirectUri" value="http://localhost" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="subscriptionId" value="d4ec96b2-7f1a-4ce1-97e1-493a5836dfcc" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="serviceName" value="bcnlablibservicearm" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="storageName" value="bcnlablibstoragearm" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="deployName" value="bcnlablibdeployarm" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="vmName" value="bcnlablibvmarm" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="adminName" value="roberto" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="adminPassword" value="Test123(((" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="groupName" value="bcnlablibresource"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ipName" value="bcnlablibiparm"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="vnetName" value="bcnlablibvnetarm"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="subnetName" value="bcnlablibsubnetarm"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="nicName" value="bcnlablibnicarm"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="availabilityName" value="bcnlablibavasetarm"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>