<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="login" value="https://login.windows.net/{0}" />
    <add key="tenantId" value="id-of-tenent" /> 
    <add key="apiEndpoint" value="https://management.core.windows.net/" />
    <add key="appId" value="id-of-app" />
    <add key="redirectUri" value="uri-of-application" />
    <add key="subscriptionId" value="id-of-subscription" />
    <add key="serviceName" value="name-of-service" />
    <add key="storageName" value="name-of-storage" />
    <add key="deployName" value="name-of-deployment" />
    <add key="vmName" value="name-of-virtual-machine" />
    <add key="adminName" value="name-of-admin-account" />
    <add key="adminPassword" value="password-of-account" />
    <add key="imageFilter" value="03f55de797f546a1b29d1b8d66be687a__VS-2015-Comm-VSU3-AzureSDK-291-WS2012R22016-10-12" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>